@model WebApp.Models.ProfileViewModel
@{
    ViewBag.Title = "Профиль";
}

<div class="modal fade disabledModal" tabindex="-1" role="dialog" aria-hidden="true" id="disabledModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="background-color: #00212F; color: #fff;">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <span class="col-form-label">Для использования функций Матрицы оплатите регистрационный взнос</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


<div class="row blue" style="padding-top: 10px;">
    <div class="col-lg-4 hidden-md-down"></div>
    <div class="col-lg-2 col-md-6 col-6">
        <div style="border: 2px solid #0098DA; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; text-align: center; width: 174px; height: 174px;">
            <a href="@Url.Action("UploadPhoto", "Profile")">
                @if (!string.IsNullOrEmpty(Model.AvatarPath))
                {
                    <img src="@Model.AvatarPath" style="border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;"/>
                }
                else
                {
                    <div class="fontsize200">^</div>
                    <div class="fontsize200">^</div>
                    <div>
                        no<br />photo
                    </div>
                }
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-6">
        <div class="fontsize200">Age...@Model.Profile.Age</div>
        <div class="fontsize200">Sex...@(Model.Profile.IsMale ? "M" : "F")</div>
        @*<div><br /><br /></div>
        <div class="@(Model.Profile.IsCitizen ? "green" : "orange")">Registration: @(Model.Profile.IsCitizen ? "YES" : "!NO!")</div>*@
    </div>
    <div class="col-lg-4 hidden-md-down"></div>
</div>
<div class="row lightGreen fontsize200" style="text-decoration: underline">
    <div class="col-lg-4 hidden-md-down"></div>
    <div class="col-lg-4 col-md-12 col-12">
        <div>@Model.FirstName</div>
        <div>@Model.LastName</div>
    </div>
    <div class="col-lg-4 hidden-md-down"></div>
</div>
<div class="row fontsize200">
    <div class="col-lg-4 hidden-md-down"></div>
    <div class="col-lg-2 col-md-6 col-6">
        <div class="yellow" style="border-top: 1px dashed #0098DA; border-bottom: 1px dashed #0098DA;">
            <img src="/Content/img/creditsr.png" />&nbsp;&nbsp;&nbsp;<span id="currentBalance">@Model.CurrentBalance</span>
        </div>
        <div class="green" style="border-bottom: 1px dashed #0098DA;">
            
    
        <form id="miningForm" method="post" action="" style="@((Model.MiningTimeLeft != "") ? "display:none;" : "")">
            <div class="form-group">
                <div class="col-md-offset-2 text-center green hoverlight" data-toggle="@(Model.Profile.IsCitizen ? "" : "modal")" data-target=".disabledModal"
                     style="margin-top: 15px; border: 2px solid #0098DA; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; cursor: pointer;"
                     onclick="location.href = '@Model.MiningUrl';">
                    Mining
                </div>
            </div>
        </form>
         
    
    @if (Model.MiningTimeLeft != "")
    {
        <span id="miningIsOn"><img src="/Content/img/miningtimer.png" style="margin-right: 5px;" /><span id="miningTimer"></span></span>
    }

        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-6" style="margin-left: -5px; border: 2px solid #0098DA; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; display:flex;align-items:center;justify-content:center;">
        <a href="@Url.Action("Index", "Shop")"><img src="/Content/img/shopr.png" style="display: block; margin: 0 auto; padding-top: 5px;" /></a>
    </div>
    <div class="col-lg-4 hidden-md-down"></div>
</div>
<div class="row">
    <div class="col-lg-4 hidden-md-down"></div>
    <div class="col-lg-4 col-md-12 col-12"><a href="@Url.Action("Index", "User")"><img src="/Content/img/userlistr.png" style="display: block; margin: 0 auto; padding: 5px;" /></a></div>
    <div class="col-lg-4 hidden-md-down"></div>
</div>
<div class="row almostWhite">
    <div class="col-lg-4 hidden-md-down"></div>
    <div class="col-lg-4 col-md-12 col-12 fontsize200" data-toggle="@(Model.Profile.IsCitizen ? "" : "modal")" data-target=".disabledModal" style="text-align: center; border-top: 1px dashed #0098DA; border-bottom: 1px dashed #0098DA; cursor: pointer;"
         onclick="location.href = '@Model.NewsUrl';">Новости Опоры</div>
    <div class="col-lg-4 hidden-md-down">

        <div style="@Html.Raw(Model.NewsCount == 0 ? "display: none;" : "") background: #008DD5; width: 35px; height: 35px; border-radius: 50%; margin-left: -60px; margin-top: -10px;" class="fontsize150">&nbsp;&nbsp;&nbsp;&nbsp;@Model.NewsCount</div>
    </div>
</div>

@section Scripts{


    <script>
        var miningSecondsLeft = @(string.IsNullOrEmpty(Model.MiningTimeLeft) ? "0" : Model.MiningTimeLeft);
        

        $(document).ready(function () {
            if (miningSecondsLeft != "0")
                intervalId = setInterval(displayMiningTime, 1000);
        });

        function displayMiningTime() {
            miningSecondsLeft -= 1;
            var miningTime = getMiningTime();
            if (!miningTime) {
                clearInterval(intervalId);
                $("#miningIsOn").hide();
                $("#miningForm").show();
                var balance = parseInt($("#currentBalance").text(), 10);
                $("#currentBalance").text(balance + 100);
            } else {
                $('#miningTimer').text(miningTime);
            }
            
        }

        function getMiningTime() {
            var seconds = parseInt(miningSecondsLeft, 10);
            var minutes = Math.floor(seconds / 60);
            seconds = seconds % 60;
            if (minutes <=0  && seconds <= 0) {return ""};
            if (minutes < 10) {minutes = "0" + minutes;}
            if (seconds < 10) {seconds = "0" + seconds;}
            return minutes + ":" + seconds;
        }
    </script>
}