@model WebApp.Models.ProfileViewModel
@{
    ViewBag.Title = "Профиль";
}


<div class="row blue" style="padding-top: 10px;">
    <div class="col-4"></div>
    <div class="col-2 col-xs-6">
        <div style="border: 2px solid #0098DA; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; text-align: center; width: 174px; height: 174px;">
            @*<a href="@Url.Action("UploadPhoto", "Profile")" >*@
                @if (!string.IsNullOrEmpty(Model.AvatarPath))
                {
                    <img src="@Model.AvatarPath" style="border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;" />
                }
                else
                {
                    <div class="fontsize200">^</div>
                    <div class="fontsize200">^</div>
                    <div>
                        no<br/>photo
                    </div>
                }
            @*</a>*@
        </div>
    </div>
    <div class="col-2 col-xs-6">
        <div class="fontsize200">Age...@Model.Profile.Age</div>
        <div class="fontsize200">Sex...@(Model.Profile.IsMale ? "M" : "F")</div>
        @*<div><br /><br /></div>
        <div class="@(Model.Profile.IsCitizen ? "green" : "orange")">Registration: @(Model.Profile.IsCitizen ? "YES" : "!NO!")</div>*@
    </div>
    <div class="col-4"></div>
</div>
<div class="row lightGreen fontsize200" style="text-decoration: underline">
    <div class="col-4"></div>
    <div class="col-4 col-xs-12">
        <div>@Model.FirstName</div>
        <div>@Model.LastName</div>
    </div>
    <div class="col-4"></div>
</div>
<div class="row fontsize200">
    <div class="col-4"></div>
    <div class="col-2 col-xs-6">
        <div class="yellow" style="border-top: 1px dashed #0098DA; border-bottom: 1px dashed #0098DA;">
            <img src="/Content/img/creditsr.png" />&nbsp;&nbsp;&nbsp;@Model.CurrentBalance
        </div>
        <div class="green" style="border-bottom: 1px dashed #0098DA;">
            @if (Model.MiningTimeLeft == "")
    {
        <form method="post" action="@Url.Action("Mining", "Profile")">
            <button id="startMining" class="btn btn-default">Start mining</button>
        </form>
         
    }
    else
    {
        <img src="/Content/img/miningtimer.png" style="margin-right: 5px;" />@(Model.MiningTimeLeft)
    }

        </div>
    </div>
    <div class="col-2 col-xs-6" style="border: 2px solid #0098DA; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px">
        <img src="/Content/img/shopr.png" style="display: block; margin: 0 auto; padding-top: 5px;" />
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 col-xs-12"><img src="/Content/img/userlistr.png" style="display: block; margin: 0 auto; padding: 5px;" /></div>
    <div class="col-4"></div>
</div>
<div class="row almostWhite">
    <div class="col-4"></div>
    <div class="col-4 col-xs-12 fontsize200" style="text-align: center;border-top: 1px dashed #0098DA; border-bottom: 1px dashed #0098DA;">Новости Опоры</div>
    <div class="col-4"></div>
</div>