@using WebApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Вход";
}


        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal blue", role = "form" }))
            {
                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-3 hidden-md-down"></div>
                    <div class="col-lg-6 col-12">
                        @Html.AntiForgeryToken()
                        <h4 class="text-center">Вход в матрицу</h4>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-3 hidden-md-down"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3 hidden-md-down"></div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md-down"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3 hidden-md-down"></div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            <div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md-down"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3 hidden-md-down"></div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <div class="col-md-offset-2">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md-down"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3 hidden-md-down"></div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <div class="col-md-offset-2 text-center hoverlight" style="border: 2px solid #0098DA; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
                                <input type="submit" value="Войти"style="background-color: transparent; border: 0px solid;  font-family:Hooge; cursor: pointer; width: 100%" class="green fontsize150" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md-down"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3 hidden-md-down"></div>
                    <div class="col-lg-6 col-12 topProgressBar"><div></div></div>
                    <div class="col-lg-3 hidden-md-down"></div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-3 hidden-md-down"></div>
                    <div class="col-lg-6 col-12 text-center green">Нет&nbsp;&nbsp;&nbsp;логина/пароля?<br />Пройдите&nbsp;&nbsp;&nbsp;процедуру&nbsp;&nbsp;&nbsp;регистрации!</div>
                    <div class="col-lg-3 hidden-md-down"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3 hidden-md-down"></div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <div class="col-md-offset-2 text-center green fontsize150 hoverlight" style="margin-top: 15px; border: 2px solid #0098DA; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; cursor: pointer;" onclick="location.href='@Url.Action("Register")';">
                                Регистрация
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 hidden-md-down"></div>
                </div>
            }
        </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}