@model WebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal blue", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" style="margin-top: 10px;">
            <h4>Введите данные для логина</h4>
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label", style = "white-space: nowrap;" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label", style = "white-space: nowrap;" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label", style = "white-space: nowrap;" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" style="margin-top: 10px;">
            <h4>Введите данные игрока</h4>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.PlayerName, new { @class = "col-md-2 control-label", style = "white-space: nowrap;" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PlayerName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.PlayerAge, new { @class = "col-md-2 control-label", style = "white-space: nowrap;" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PlayerAge, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Info, new { @class = "col-md-2 control-label", style = "white-space: nowrap;" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Info, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Allergy, new { @class = "col-md-2 control-label", style = "white-space: nowrap;" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Allergy, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" style="margin-top: 10px;">
            <h4>Введите данные персонажа</h4>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label", style = "white-space: nowrap;" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label", style = "white-space: nowrap;" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Sex, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <select id="sex" name="sex" class="form-control">
                        <option value="1" selected="selected">M</option>
                        <option value="0">Ж</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Quenta, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Quenta, new { type = "file" })
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Зарегистрироваться" />
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>








}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
